USE [master]
GO
/****** Object:  Database [BackupTable]    Script Date: 13.12.2024 22:38:08 ******/
CREATE DATABASE [BackupTable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BackupTable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BackupTable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BackupTable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BackupTable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BackupTable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BackupTable]
GO
/****** Object:  Table [dbo].[Tbl_Books]    Script Date: 13.12.2024 22:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Books](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Author] [varchar](30) NULL,
	[Page] [varchar](5) NULL,
	[Publisher] [varchar](30) NULL,
	[Genre] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Books_BackUp]    Script Date: 13.12.2024 22:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Books_BackUp](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Author] [varchar](30) NULL,
	[Page] [varchar](5) NULL,
	[Publisher] [varchar](30) NULL,
	[Genre] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Counter]    Script Date: 13.12.2024 22:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Counter](
	[Quantity] [smallint] NULL
) ON [PRIMARY]
GO
USE [master]
GO
